RESERVATION_PORT=3001
RESERVATION_FRONTEND_URL=http://localhost:5173
RESERVATION_PUBLIC_URL=http://localhost:3001
RESERVATION_TIMEZONE=America/Sao_Paulo
RESERVATION_MAX_GUESTS_PER_SLOT=40
RESERVATION_ALLOWED_TIMES=12:00,12:30,13:00,13:30,14:00,14:30,15:00,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

RESERVATION_ADMIN_EMAIL=a10915@csmiguel.pt

RESERVATION_SMTP_HOST=
RESERVATION_SMTP_PORT=587
RESERVATION_SMTP_SECURE=false
RESERVATION_SMTP_USER=
RESERVATION_SMTP_PASS=
RESERVATION_SMTP_FROM=Reservas <reservas@saborealma.com>
